{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load static %}

{% block headtitle %} Flowka - {% trans 'Password' %}{% endblock headtitle %}

{% block main %}
<div class="fl-bloc">
    <img src="{% static 'pictures/flowka-confirm.jpg' %}" class="fl-account-img">
    <div class="fl-frame fl-small">
        <h4 class="text-uppercase text-center">{% trans 'PASSWORD RESET' %}</h4>
        <form method="post" action="." class="w-100" novalidate>
            {% csrf_token %}
            {% include 'inputbs4.html' with form=form %}
            <input class="btn btn-lg flowka btn-block" type="submit" value="{% trans 'reset password' %}" />
        </form>
        <p class="d-inline-block mb-0 fl-txt-prune fl-txt-sm ">{% trans  'I remember my password and I want to' %}
            <a class ="btn btn-outline flowka fl-nobd"href="{% url 'account:login' %}">{% trans 'LOGIN' %}</a>
        </p>
    </div>
</div>
{% endblock main %}
