{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load static %}


{% block headtitle %} Flowka - {% trans 'Password' %}{% endblock headtitle %}

{% block main %}
<div class="fl-bloc">
    <img src="{% static 'pictures/flowka-password.jpg' %}" class="fl-account-img">
    <div class="fl-frame fl-small">
        <h4 class="text-uppercase text-center">{% trans 'CHANGE PASSWORD' %}</h4>
        <form id="id_PasswordForm" method="post" action="." class="w-100" novalidate onkeyup="okPassword();">
            {% csrf_token %}
            {% include 'inputbs4.html' with form=form %}
            <div class="progress w-100 my-2" style="position:relative;bottom:10px;height:15px">
              <div id="id_progress_bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <input id="id_submitPasswordForm" class="btn btn-lg fl-bg-light fl-txt-white btn-block" disabled type="submit" value="{% trans 'Change Password' %}" />
            <p class="mt-2 px-3">
                <a class ="ml-1 mr-3 fl-txt-prune fl-txt-hov-sadsea"href="{% url 'account:password_reset' %}">{% trans 'Lost password?' %}
                </a>
            </p>
        </form>
    </div>
</div>
{% endblock main %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
{% endblock js %}
