
{% extends 'base.html' %}

{% block main %}
    <div class="fl-except fl-400 p-5 mb-2">
        <div class="fl-bg-peach p-1 rounded-circle fl-w-150 fl-h-150 d-flex flex-column justify-content-center mb-3 fl-txt-white" style="border-style:dotted;">
          <h1 class="display-5 text-center fl-txt-white align-middle d-block">bad bad bad,<br> very bad !</h1>
        </div>
        <p class="lead  text-center fl-txt-white fl-bg-prune p-2 rounded">this a <span class="font-weight-bold">400</span> error<br>...which means "bad request"</p>
        <a class="btn btn-primary btn-lg flowka mt-4" href="/" role="button">Back Home</a>
    </div>

{% endblock main %}
