{% extends 'base.html' %}

{% block main %}
    <div class=" mb-2 p-5 fl-404 fl-except">
      <div class="fl-bg-peach p-1 rounded-circle fl-w-150 fl-h-150 d-flex flex-column justify-content-center mb-3 fl-txt-white" style="border-style:dotted;">
        <h1 class="display-5 text-center fl-txt-white ">Ooooh !<br>You are lost</h1>
      </div>
      <p class="lead  text-center fl-bg-prune fl-txt-white p-2 rounded">this a <span class="font-weight-bold">404</span> error<br>the page you have been asking for, does not exist</p>
      <a class="btn btn-primary btn-lg flowka mt-4" href="/" role="button">Back Home</a>

    </div>

{% endblock main %}
