
{% extends 'base.html' %}

{% block main %}
    <div class=" mb-2 p-5 fl-except fl-500">
      <div class="fl-bg-peach p-1 rounded-circle fl-w-150 fl-h-150 d-flex flex-column justify-content-center mb-3 fl-txt-white" style="border-style:dotted;">
        <h1 class="display-5 text-center fl-txt-white ">Ooops !<br>I did it again</h1>
      </div>
      <p class="lead  text-center fl-bg-prune fl-txt-white p-2 rounded">this a <span class="font-weight-bold">500</span> error<br>something very bad has happened to the server and we are trying to fix it. </p>
      <a class="btn btn-primary btn-lg flowka mt-4" href="/" role="button">Back Home</a>
    </div>

{% endblock main %}
