{% load static %}
    <!-- javascript refresh css files -->
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
  <!--<script type="text/javascript" src="{% static 'assets/popper/js/popper.min.js' %}"></script>-->
    <script type="text/javascript" src="{% static 'assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--<script type="text/javascript" src="{% static 'js/cssrefresh.js' %}"></script>-->
